.inputUser
{
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 2em;
    margin-top: 10%;
    margin-left: 30%;
}

.submit
{
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 2em;
    margin-top: 10%;
    margin-left: 1%;
}