.main
{
    background-color: #ffce52;
    border-bottom: 5px solid #c6a342;
    display: flex;
}

.title
{
    display: block;
    color: #5a491e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
}

.profile
{
    font-size: 1.5em;
    float: left;
    padding-top: 25px;
    justify-self: right;
}

.ulist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffce52;
}

.list {
    float: left;
}

.list a {
    display: block;
    color: #5a491e;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #dbb046;
}
