.profileContent
{
    font-size: 1.5em;
    text-align: center;
    background-color: #ffde9b;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 5px solid #c6a342;
}

.profileButton
{
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 1em;
    margin-top: 5%;
    margin-right: 0.5em;
    margin-left: 0.5em;
}