.input
{
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 2em;
    float: left;
    margin-top: 5%;
    margin-left: 20%;
    width: 50%;
}

.translate
{
    border: 1px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    font-size: 2em;
    float: left;
    margin-top: 5%;
    margin-left: 1%;
}

.errorStyle
{
    position: absolute;
    bottom: 65%;
    left: 35%;
}

.signs
{
    position: initial;
    background-color: #ffde9b;
    margin-top: 10%;
    border-bottom: 5px solid #c6a342;
    bottom: auto;
}